


<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Real Estate</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <!--Draggable -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!--Draggable -->
    <!--css-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="JQuery Project" />
    <!--................................................................-->
    <script type="application/x-javascript">
        addEventListener("load", function() {
               setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1);}
    </script>
    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" />
    <!--................................................................-->
    <!--js-->
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <!--js-->
    <!--.......-->
    <!--webfonts-->
    <link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,700italic,700,600italic,600,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!--webfonts-->
    <!--................................................................-->



    <script src="~/Scripts/responsiveslides.min.js"></script>

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" />
    <!--js-->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!--js-->
    <!--................................................................-->
    <!--webfonts-->
    <link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,700italic,700,600italic,600,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!--webfonts-->
    <script src="~/Scripts/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet">
    <script src="~/Scripts/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({
                items: 1,
                lazyLoad: true,
                autoPlay: true,
                navigation: false,
                navigationText: false,
                pagination: true,
            });
        });
    </script>

</head>



<body>
    <div class="header" id="home">
        <div class="header-top">
            <div class="container">
                <div class="head-top">
                    <div class="indicate">
                        <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><a href="About">London</a>
                    </div>
                    <div class="deatils">
                        <ul>
                            <li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="#" data-toggle="modal" data-target="#myModal">Sign In</a></li>
                            <li><i class="glyphicon glyphicon-lock" aria-hidden="true"></i><a href="#" data-toggle="modal" data-target="#myModal1">Register</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="logo">
                    <h1><a href="Index">JQuery Project<span>Real Estate</span></a></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body real-spa">
                    <div class="login-grids">
                        <div class="login">
                            <div class="login-right">
                                <form action="~/Home/Login" method="post">
                                    <h3>Sign In</h3>
                                    <input type="text" name="email" value="Enter your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your Email';}" required="">
                                    <input type="password" name="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                    <h4><a href="#">Forgot password</a> / <a href="#">Create new password</a></h4>
                                    <div class="single-bottom">
                                        <input type="checkbox" id="brand" value="">
                                        <label for="brand"><span></span>Remember Me.</label>
                                    </div>
                                    <input type="submit" value="Sign In">
                                </form>
                            </div>
                        </div>
                        <p>By logging in you agree to our <a href="#">Terms</a> and <a href="#">Conditions</a> and <a href="#">Privacy Policy</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--signin-->
    <!--Register-->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body real-spa">
                    <div class="login-grids">
                        <div class="login">
                            <div class="login-right">
                                <form action="~/Home/Register" method="post">
                                    <h3>Register </h3>
                                    <input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                                    <input type="text" name="Phone" value="Mobile number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mobile number';}" required="">
                                    <input type="text" name="Email" value="Email id" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email id';}" required="">
                                    <input type="password" name="Password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                                    <input type="submit" value="Register Now">
                                </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>By logging in you agree to our <a href="#">Terms</a> and <a href="#">Conditions</a> and <a href="#">Privacy Policy</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Register-->

    <div class="container">
        <div class="header-bottom">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="menu menu--francisco">
                            <ul class="nav navbar-nav menu__list">
                                <li class="menu__item"><a href="Index" class="menu__link"><span class="menu__helper">Home</span></a></li>
                                <li class="menu__item  menu__item--current"><a href="Properties" class="menu__link"><span class="menu__helper">Properties</span></a></li>
                                <li class="menu__item"><a href="Favorites" class="menu__link"><span class="menu__helper">Favorites</span></a></li>
                                <li class="menu__item"><a href="About" class="menu__link"><span class="menu__helper">About</span></a></li>
                            </ul>
                        </nav>
                        <div class="social-icons">
                            <a href="https://www.facebook.com/">
                                <i class="icon"></i>
                            </a>
                            <a href="https://twitter.com/?lang=en"><i class="icon1"></i></a>
                            <a href="https://plus.google.com/#"><i class="icon2"></i></a>
                            <a href="https://www.linkedin.com/uas/login"><i class="icon3"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.navbar-collapse -->
                    <!-- /.container-fluid -->
                </div>
            </nav>
        </div>
    </div>
    <!--header-->
    <!--................................................................-->


    <div class="content">

        <div class="serach-w3agile">
            <div class="container">
                <h3 class="tittle">Search properties</h3>
                <div class="place-grids">
                    <form method="post" action="~/Home/Properties"
                    <div class="col-md-2 place-grid">
                        <h5>Location</h5>
                        <select class="sel" name="location" id="location">
                            @{
                                Real_State.Models.Database1Entities2 db = new Real_State.Models.Database1Entities2();
                                var lst = db.cities.ToList();
                                foreach (Real_State.Models.city obj in lst)
                                {
                                    <option value="@obj.Id">@obj.name</option>
                                }
                                
                            }
                        </select>
                    </div>
                    <div class="col-md-2 place-grid">
                        <h5>Type</h5>
                        <select class="sel" name="type" id="type">
                            @{
                                List<Real_State.Models.type> lst1 = db.types.ToList();
                                foreach (Real_State.Models.type obj in lst1)
                                {
                                    <option value="@obj.Id">@obj.name</option>
                                }

                            }
                                </select>
                    </div>
                    <div class="col-md-2 place-grid">
                        <h5> Price</h5>
                        <select class="sel" name="price" id="price">
                            <option value="1000"> <= $1000</option>
                            <option value="5000"> <= $5000</option>
                            <option value="10000"> <=$10,000</option>
                            <option value="100000"> > $100,000</option>
                        </select>
                    </div>
                   
                    
                    <div class="col-md-2 place-grid">
                        <input id="searchButton" type="submit" value="Search" />
                    </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <div>
            @RenderBody()
        </div>
        <!--footer-->
        <div class="footer-section">
            <div class="container">
                <div class="footer-grids">
                    <div class="col-md-3 footer-grid">
                        <h4>About </h4>
                        <p>A fractional designation uses rectangular surveying to correctly describe the land in sections. Metes and Bounds: This form of description uses references, such as streets and rivers ...</p>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <h4>Property Types</h4>
                        <ul>
                            <li>Property 1 </li>
                            <li>Property 2 </li>
                            <li>Property 3 </li>
                            <li>Property 4 </li>
                            <li>Property 5 </li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <h4>Useful links</h4>
                        <ul>
                            <li><a href="Index">Home</a></li>
                            <li><a href="About">Properties</a></li>
                            <li><a href="Services">Favorites</a></li>
                            <li><a href="Contact">About</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <h4>Contacts</h4>
                        <ul>
                            <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>1 234 567 890</li>
                            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:example@mail.com"> example@mail.com</a></li>
                            <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1398 W El Camino Real</li>
                            <li><i class="glyphicon glyphicon-time" aria-hidden="true"></i>Mon-Sat 8:00 am to 8:00 pm</li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>

            </div>
        </div>
        <!--footer-->
        <!--copy-->
        <div class="copy-section">
            <div class="container">
                <p>&copy; 2017 JQuery Project. All rights reserved </p>
            </div>
        </div>
        <!--copy-->
        <!--signin-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body real-spa">
                        <div class="login-grids">
                            <div class="login">
                                <div class="login-right">
                                    <form action="~/Home/Login" method="post">
                                        <h3>Sign In</h3>
                                        <input type="text" name="email" value="Enter your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your Email';}" required="">
                                        <input type="password" name="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                        <h4><a href="#">Forgot password</a> / <a href="#">Create new password</a></h4>
                                        <div class="single-bottom">
                                            <input type="checkbox" id="brand" value="">
                                            <label for="brand"><span></span>Remember Me.</label>
                                        </div>
                                        <input type="submit" value="Sign In">
                                    </form>
                                </div>
                            </div>
                            <p>By logging in you agree to our <a href="#">Terms</a> and <a href="#">Conditions</a> and <a href="#">Privacy Policy</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--signin-->
        <!--Register-->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content modal-info">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body real-spa">
                        <div class="login-grids">
                            <div class="login">
                                <div class="login-right">
                                    <form action="#" method="post">
                                        <h3>Register </h3>
                                        <input type="text" name="Name" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
                                        <input type="text" name="Phone" value="Mobile number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mobile number';}" required="">
                                        <input type="text" name="Email" value="Email id" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email id';}" required="">
                                        <input type="password" name="Password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                                        <input type="submit" value="Register Now">
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <p>By logging in you agree to our <a href="#">Terms</a> and <a href="#">Conditions</a> and <a href="#">Privacy Policy</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Register-->
    </div>

        <script type="text/javascript">

            function SearchProprty() {

                var e = document.getElementById("price");
                var strUser = e.options[e.selectedIndex].text;

                if (strUser == "$4000") {
                    window.location = "Property1";
                }
                else if (strUser == "$5000") {
                    window.location = "Property2";
                }
                else if (strUser == "$6000") {
                    window.location = "Property3";
                }
                else if (strUser == "$7000") {
                    window.location = "Property4";
                }
                else if (strUser == "$8000") {
                    window.location = "Property5";
                }
                else if (strUser == "$9000") {
                    window.location = "Property6";
                }
                else {
                    alert("Kindly Select All The Fields !");
                }

            }

        </script>

    </body>
</html>